<div class="modal-header">
  <h5 class="modal-title">DIA-NN to CurtainPTM converter</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex flex-column gap-2">
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="file_path" formControlName="file_path" placeholder="File path">
      <label for="file_path">File path</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="openFile('file_path')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (columns)="columns = $event" (selected)="updateFormWithSelected($event, 'file_path')"></app-imported-file-selection>
      </div>
    </div>
    <div class="form-group">
      <label for="index_col">
        Index column
      </label>
      <select class="form-select" id="index_col" formControlName="index_col">
        @for (col of columns; track col) {
          <option value="{{col}}">{{col}}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="peptide_col">
        Peptide column
      </label>
      <select class="form-select" id="peptide_col" formControlName="peptide_col">
        @for (col of columns; track col) {
          <option value="{{col}}">{{col}}</option>
        }
      </select>
    </div>
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="fasta_file" formControlName="fasta_file" placeholder="Fasta path">
      <label for="fasta_file">Fasta path (optional)</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="openFile('fasta_file')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (selected)="updateFormWithSelected($event, 'fasta_file')"></app-imported-file-selection>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
