<div class="modal-header">
  <h5 class="modal-title">Generate Condition Based CV Data for DIA-NN</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="pr_matrix_path" formControlName="pr_matrix_path" placeholder="PR File path">
      <label for="pr_matrix_path">File path (Reports.pr_matrix.tsv)</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="browse('pr_matrix_path')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (selected)="updateFormWithSelected($event, 'pr_matrix_path')"></app-imported-file-selection>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="pg_matrix_file" formControlName="pg_matrix_file" placeholder="PG File path">
      <label for="pg_matrix_file">File path (Reports.pg_matrix.tsv)</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="browse('pg_matrix_path')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (selected)="updateFormWithSelected($event, 'pg_matrix_path')"></app-imported-file-selection>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="log_file" formControlName="log_file" placeholder="PG File path">
      <label for="log_file">File path (Reports.log.txt)</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="browse('log_file')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (selected)="updateFormWithSelected($event, 'log_file')"></app-imported-file-selection>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="annotation_file" formControlName="annotation_file" placeholder="PG File path">
      <label for="annotation_file">File path (annotation.txt)</label>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary" (click)="browse('annotation_file')">Browse</button>
      <div class="flex-grow-1">
        <app-imported-file-selection (selected)="updateFormWithSelected($event, 'annotation_file')"></app-imported-file-selection>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="loadExample()">Load Example</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
