<div class="container-fluid p-0" style="height: 100%">
  <div class="d-flex g-1" style="height: 100%">
    <div class="border-end border-1 border-black d-flex flex-column" style="height: 100%; width: 300px; min-width: 300px">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
        <div class="container-fluid">
          <div class="navbar-brand">Job Queue</div>
          <div class="d-flex justify-content-end flex-row gap-1">
            <button class="btn btn-sm btn-outline-light" (click)="queueName='previous'">Previous</button>
            <button class="btn btn-sm btn-outline-light" (click)="queueName='current'">Current</button>
          </div>
        </div>
      </nav>
      <form [formGroup]="form" class="mb-2">
        <div class="form-floating">
          <input class="form-control" id="jobName" formControlName="jobSearch" type="search">
          <label for="jobName">Job Name</label>
        </div>
      </form>
      <div class="list-group d-flex flex-column rounded-0 overflow-auto">
        @for (j of displayJob; track j) {
          <div (click)="handleJobClick(j)" [ngClass]="{'list-group-item': true, 'd-flex': true}">
            @if (clickedJob==j) {
              <div style="width: 10px" class="bg-warning"></div>
            }
            <div [ngClass]="{'p-2': true, 'rounded-1': true, 'bg-danger': j.error, 'bg-success': j.completed, 'text-light': j.completed||j.error}">
              @if (j.name) {
                <div>Name: {{j.name}}</div>
              }
              <div>Type: {{j.type}}</div>
              <div>ID: {{j.job.id}}</div>
              @if (j.job.state) {
                @if (j.job.state==='ACTIVE') {
                  <ngb-progressbar [value]="j.job.progress" type="primary" [striped]="true" [animated]="true">In progress</ngb-progressbar>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
    <div class="d-flex flex-column border-black w-100" style="height: 100%">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-wrap text-light">
        <div class="container-fluid">
          <div class="navbar-brand">Job Details</div>
        </div>
      </nav>
      @if (clickedJob) {
        <div class="container p-5">
          <div class="form-floating">
            <input class="form-control" [(ngModel)]="clickedJob.name" type="text">
            <label for="jobName">Job Name</label>
          </div>

          <p><b>Job Type</b>: {{clickedJob.type}}</p>
          <p><b>Job State</b>: {{clickedJob.job.state}}</p>
          <p><b>Job Queue</b>: {{clickedJob.job.type}}</p>
          <p><b>Job ID</b>: {{clickedJob.job.id}}</p>
          <p><b>Job Started At</b>: {{clickedJob.job.startedAt}}</p>
          <p><b>Job Completed At</b>: {{clickedJob.job.completedAt}}</p>
          <p><b>Job Duration</b>: {{clickedJob.job.duration}}</p>
          <p><b>Job Failed At</b>: {{clickedJob.job.failedAt}}</p>

          <button class="btn btn-danger" (click)="remove()"><i class="bi bi-trash"></i></button>

          @if (getJobStatus(clickedJob.job)) {
            <p><b>Job Result Location</b>: <i class="bi bi-folder" (click)="openFileExplorerAt(clickedJob.job.id)"></i></p>
          }
          <div class="mb-1">

          </div>

          <div class="d-flex mb-1 flex-row gap-1">
            @if (clickedJob.completed) {
              <button class="btn btn-primary" (click)="openAnnotationModal()">Assign Condition</button>
            }
            @switch (clickedJob.type) {
              @case ('pca') {
                <button class="btn btn-primary" (click)="openPCAPlot()"><i class="bi bi-graph-up"></i> PCA</button>
              }
              @case ('phate') {
                <button class="btn btn-primary" (click)="openPHATEPlot()"><i class="bi bi-graph-up"></i> PHATE</button>
              }
            }
          </div>

          @if (clickedJob.job.progress) {

            @if (!jobMap[clickedJob.job.id].completed && !jobMap[clickedJob.job.id].error) {
              <ngb-progressbar [value]="clickedJob.job.progress" type="primary" [striped]="true" [animated]="true">In progress</ngb-progressbar>
            } @else {
              @if (jobMap[clickedJob.job.id].error) {
                <ngb-progressbar [value]="100" type="danger">Failed</ngb-progressbar>
              } @else if (jobMap[clickedJob.job.id].completed) {
                <ngb-progressbar [value]="100" type="success">Completed</ngb-progressbar>
              } @else {
                <ngb-progressbar [value]="100" type="primary"></ngb-progressbar>
              }
            }

          }

        </div>
      } @else {
        <div class="border-dark border-opacity-25 rounded-3 d-flex justify-content-center align-items-center"
             style="border-style: dashed; height: 100%">
          <div class="p-5">
            <p>
              Select a job
            </p>
          </div>
        </div>
      }

    </div>
  </div>
</div>
