<div class="modal-header">
    <h5 class="modal-title">DIA-NN to CurtainPTM converter</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex flex-column gap-2">
    <div class="form-floating">
      <input type="text" readonly class="form-control" id="file_path" formControlName="pr_file_path" placeholder="PR File path">
      <label for="file_path">File path (Reports.pr_matrix.tsv)</label>
      <button type="button" class="btn btn-primary mt-1" (click)="openFile('pr_file_path')">Browse</button>
    </div>

    <div class="form-floating">
      <input type="text" readonly class="form-control" id="report_file_path" formControlName="report_file_path" placeholder="Report Path">
      <label for="report_file_path">Report path (Reports.tsv)</label>
      <button type="button" class="btn btn-primary mt-1" (click)="openFile('report_file_path')">Browse</button>
    </div>

    <div class="form-floating">
      <input type="text" formControlName="modification_of_interests" class="form-control" id="modification_of_interests" placeholder="Modification of interests">
      <label for="modification_of_interests">Modification of interests</label>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  <button type="button" class="btn btn-primary" (click)="loadExample()">Load Example</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
